Web References/localhost/CustomRenderMap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCustomRenderConfig">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomRenderConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomRenderConfigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCustomRenderConfigSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomRenderConfig" />
  </wsdl:message>
  <wsdl:message name="GetCustomRenderConfigSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomRenderConfigResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomRenderConfigHttpGetIn" />
  <wsdl:message name="GetCustomRenderConfigHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCustomRenderConfigHttpPostIn" />
  <wsdl:message name="GetCustomRenderConfigHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CustomRenderMapSoap">
    <wsdl:operation name="GetCustomRenderConfig">
      <wsdl:input message="tns:GetCustomRenderConfigSoapIn" />
      <wsdl:output message="tns:GetCustomRenderConfigSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CustomRenderMapHttpGet">
    <wsdl:operation name="GetCustomRenderConfig">
      <wsdl:input message="tns:GetCustomRenderConfigHttpGetIn" />
      <wsdl:output message="tns:GetCustomRenderConfigHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CustomRenderMapHttpPost">
    <wsdl:operation name="GetCustomRenderConfig">
      <wsdl:input message="tns:GetCustomRenderConfigHttpPostIn" />
      <wsdl:output message="tns:GetCustomRenderConfigHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomRenderMapSoap" type="tns:CustomRenderMapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomRenderConfig">
      <soap:operation soapAction="http://tempuri.org/GetCustomRenderConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomRenderMapSoap12" type="tns:CustomRenderMapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomRenderConfig">
      <soap12:operation soapAction="http://tempuri.org/GetCustomRenderConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomRenderMapHttpGet" type="tns:CustomRenderMapHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCustomRenderConfig">
      <http:operation location="/GetCustomRenderConfig" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomRenderMapHttpPost" type="tns:CustomRenderMapHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCustomRenderConfig">
      <http:operation location="/GetCustomRenderConfig" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomRenderMap">
    <wsdl:port name="CustomRenderMapSoap" binding="tns:CustomRenderMapSoap">
      <soap:address location="http://localhost:15791/CustomRenderMap.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomRenderMapSoap12" binding="tns:CustomRenderMapSoap12">
      <soap12:address location="http://localhost:15791/CustomRenderMap.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomRenderMapHttpGet" binding="tns:CustomRenderMapHttpGet">
      <http:address location="http://localhost:15791/CustomRenderMap.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomRenderMapHttpPost" binding="tns:CustomRenderMapHttpPost">
      <http:address location="http://localhost:15791/CustomRenderMap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>